<<<<<<< HEAD
extends layout.pug

block head 
    link(rel="stylesheet", href="/countries.css")

block content   
    h2 Continents 
    form(action="/continent", method="get")
        label(for="topN") Show Top N Results:
        input(type="number", name="topN", id="topN", min="1", max="100")
        button(type="submit") Filter
    table 
        thead 
            th.text-center Code 
            th Name
            th Continent
        tbody 
            each row in rows 
                tr 
                    td.fit #{row.Code}
                    td #{row.Name}
=======
extends layout.pug

block head 
    link(rel="stylesheet", href="/countries.css")

block content   
    h2 Continents 
    form(action="/continent", method="get")
        label(for="topN") Show Top N Results:
        input(type="number", name="topN", id="topN", min="1", max="100")
        button(type="submit") Filter
    table 
        thead 
            th.text-center Code 
            th Name
            th Continent
        tbody 
            each row in rows 
                tr 
                    td.fit #{row.Code}
                    td #{row.Name}
>>>>>>> fddcc00372114f7df4a850eeab509ee76104604f
                    td #{row.Continent}